# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment folders
.env
.venv
env/
venv/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Test reports
coverage_report.txt
.coverage