# .gitignore

# --- Python & Django ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment folders & secrets - NEVER commit secrets
.env
.venv
env/
venv/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Test reports
coverage_report.txt
.coverage
htmlcov/

# --- Terraform ---
# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# --- Editor & System ---
# VSCode editor settings
.vscode/

# macOS system files
.DS_Store